<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"> <!-- Referencia a la libreria de thymeleaf (th)-->
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
